/*
 *
 * Stylesheet for OpenPBX popups
 *
 */

body {
	background-color: #ffffff;
	color: #000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0px;
}

/* the body frame */
div#popup_frame {
	background-color: #f0f0f0;
	background-image: url(/userapp/OpenPBX/img/background/index_left_bar.png);
	background-repeat: repeat-y;
	color: #000000;
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	min-width: 400px;
	}

div#popup_frame_top {
	background-image: url(/userapp/OpenPBX/img/background/index_top_bar.png);
	height: 40px;
}

div#popup_frame_top_corner {
	background-image: url(/userapp/OpenPBX/img/background/index_top_corner.png);
	background-repeat: no-repeat;
	height: 40px;
	width: 58px;
}

div#popup_frame_middle {
	height: 100%;
	text-align: center;
	width: 100%;
}

div#popup_frame_middle_right {
	min-height: 100px;
	padding-left: 50px;
	text-align: center;
}

div#popup_frame_head {
	background-color: transparent;
	border-bottom: solid 1px #6e6e6e;
	color: #a4a4a4;
	font-size: 20px;
	margin-bottom: 7px;
	padding-bottom: 5px;
}

div#popup_frame_content {
	margin 5px;
	text-align: center;
}

div#popup_frame_bottom {
	background-image: url(/userapp/OpenPBX/img/background/index_bottom_bar.png);
	height: 60px;
}

div#popup_frame_bottom_corner {
	background-image: url(/userapp/OpenPBX/img/background/index_bottom_corner.png);
	background-repeat: no-repeat;
	height: 60px;
	width: 58px;
}

div#popup_frame_logo {
	border-top: solid 1px #6e6e6e;
	bottom: 0px;
	height: 25px;
	margin-top: 10px;
	margin-left: 50px;
	text-align: right;
	vertical-align: middle;
}

div#popup_frame_logo img {
	border: none;
}

