/* default table style */
table.default {
	background-color: transparent;
	border: solid 1px #333333;
	color: #333333;
	border-collapse:collapse;
	margin-left: auto;
	margin-right: auto;
}

table.default#noborder {
	border: none;
}

table.default tr th,
table.default tr td {
	border: solid 1px #333333;
	text-align: center;
	width: 150px;
}

table.default tr.sub_head td {
	font-weight: bold;
}

table.default th {
	background-color: #dacece;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
	white-space: nowrap;
}

table.default td {
	font-size: 13px;
	font-weight: normal;
}

table.default td.buttons {
	background-color: #dacece;
	color: #000000;
	white-space: nowrap;
}

table.default td input.fill,
table.default td select.fill {
	width: 98%;
}

table.default td.nowrap {
	white-space: nowrap;
}

table.default td.w300px {
	width: 300px;
	white-space: nowrap;
}

table.default td.w450px {
	width: 450px;
	white-space: nowrap;
}

table.default td.w350px {
	width: 350px;
	white-space: nowrap;
}

table.default td.monospaced {
	font-family: monospace;
}

/* a 'swap-box-field in default table */
table.default td.swap_group {
	border-left: none;
	border-right: none;
	min-width: 75px;
	width: auto;
}

.swap_group select {
	height: 98%;
	min-height: 75px;
	min-width: 75px;
	width: 98%;
}

table.default td.swap_buttons {
	border-left: none;
	border-right: none;
	width: 50px;
}

.swap_buttons input {
	border: none;
	font-family: monospace;
	font-size: 15px;
	height: 45%;
	width: 90%;
}

table.default td.noborder_lr {
	border-left: none;
	border-right: none;
}
td#action_field_titles {
	width: 50px;
}

table#sip_users,
table#sip_users_mod,
table#sip_groups,
table#sip_groups_mod,
table#sip_trunks_mod,
table#device_templates,
table#rules_inbound,
table#rules_outbound {
	margin-bottom: 5px;
}

tbody#rule_create_section,
tbody#rule_cut,
tbody#rule_dial,
tbody#rule_goto_section,
tbody#rule_hangup,
tbody#rule_set_callerid,
tbody#rule_use_trunk {
	display: none;
}

